<!-- Paraghraph And (New-Request-Button) Section -->
<section class="paraAndBtn">
  <div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-6 bg-transparent border-0 fs-4 fw-bold">
            Welcome Back Hazem! Here are your latest updates.
        </div>
        <div class="col-12 col-md-3" style="visibility: hidden;"></div>
        <div class="col-12 col-md-3 bg-transparent border-0 mt-3 text-center text-md-end">
            <a class="btn btn-success px-5" href="#" role="button">New Request</a>
        </div>
    </div>
  </div>
</section>
<!-- Profile And (Vacation-Request) Section -->
<section class="profileAndVacation">
  <div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-6 shadow-sm rounded-4 bg-body-tertiary mb-3">
            <div class="d-flex align-items-center w-100">
                <fa-icon [icon]="faCircleUser" class="fs-1 py-3 me-3"></fa-icon>
                <div class="text-content me-auto">
                    <h6 class="mb-0">Motasem Alsuradi</h6>
                    <p class="mb-0 text-secondary custom-paragraph">Junior Accounting Officer</p>
                </div>
                <div class="ms-auto">
                    <a href="#" role="button">
                        <button type="button" class="btn border-success bg-white text-success px-5 custom-btn">View Profile</button>
                    </a>
                </div>
            </div>
            <div class="row mt-3 w-100">
                <div class="d-flex align-items-center">
                    <fa-icon [icon]="faUser" class="text-secondary fs-2 py-3 me-3"></fa-icon>
                    <div class="text-content">
                        <h6 class="mb-0">Reporting To:</h6>
                        <p class="mb-0 text-secondary custom-paragraph">Salwa Assem</p>
                    </div>
                    <fa-icon [icon]="faChartSimple" class="text-secondary fs-2 py-3 ms-4 me-2"></fa-icon>
                    <div class="text-content">
                        <h6 class="mb-0">Corporate Level:</h6>
                        <p class="mb-0 text-secondary custom-paragraph">Level 10</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-3">
            <div class="d-flex justify-content-center align-items-center bg-success text-white shadow-sm rounded-4 p-3">
                <div class="row w-100">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div>
                          <fa-icon [icon]="faListCheck" class="custom-icon"></fa-icon>
                            <p class="mb-0 fs-5 text-center">Vacation <br> Requests</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="custom-icon">10</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mb-3">
            <div class="d-flex justify-content-center align-items-center bg-success text-white shadow-sm rounded-4 p-3">
                <div class="row w-100">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div>
                          <fa-icon [icon]="faListCheck" class="custom-icon"></fa-icon>
                            <p class="mb-0 fs-5 text-center">Vacation <br> Requests</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="custom-icon">10</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- Carousel Section -->
<section class="carousel">
  <div class="container">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <h5 class="mt-1">Latest News:</h5>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="assets/img/carousel-Img1.jpg" alt="">
                <div class="carousel-caption pb-0 px-5">
                    <h5>Best Spots For A Summer Vacation</h5>
                    <p class="fw-medium">Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <img src="assets/img/carousel-Img2.jpg" alt="">
                <div class="carousel-caption pb-0 px-5">
                    <h5>Best Spots For A Summer Vacation</h5>
                    <p class="fw-medium">Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <img src="assets/img/carousel-Img3.jpg" alt="">
                <div class="carousel-caption pb-0 px-5">
                    <h5>Best Spots For A Summer Vacation</h5>
                    <p class="fw-medium">Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
                </div>
            </div>
        </div>
        <div class="indicators-carousel mt-2">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>
  </div>
</section>
<!-- Vacation Requests Section -->
<section class="vacationRequests">
  <div class="container bg-body-tertiary p-3 mt-5 mb-5 shadow rounded-4">
    <nav class="navbar">
      <a class="navbar-brand ms-3">
        <fa-icon [icon]="faListCheck" class="text-success me-1"></fa-icon>Vacation Requests
      </a>
      <form class="d-flex position-relative me-3" role="search">
        <input class="form-control rounded-4" type="search" placeholder="Search..." aria-label="Search"
                [(ngModel)]="searchTerm"
                name="search"
        >
        <button class="btn border-light text-success fw-bolder position-absolute start-0 top-0 custom-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </nav>
    <div class="line"></div>
    <div class="d-flex flex-wrap my-3">
      <div *ngFor="let vacation of filteredVacationData" class="card p-2 mb-2 mx-auto border-top-0 shadow" style="width: 18rem;">
        <img [src]="vacation.imgSrc" class="card-img-top mt-4" alt="">
        <div class="card-body">
          <h5 [innerHTML]="vacation.name | highlightedText" class="card-title"></h5>
          <p class="card-text mb-0">Submitted on:</p>
          <h6 class="submit-value">{{ vacation.submittedOn }}</h6>
          <p class="card-text mb-0">Duration:</p>
          <h6 class="duration-value">{{ vacation.duration }}</h6>
          <p class="card-text mb-0">Salary:</p>
          <h6 class="salary-value" [ngStyle]="{ 'color': getSalaryValue(vacation.salary) > 3000 ? 'green' : 'red' }">
            {{ vacation.salary }}
          </h6>
          <a href="#" class="btn border-success text-success fw-medium mt-3 me-2">Decline</a>
          <a href="#" class="btn btn-success mt-3">Approve</a>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a class="btn btn-link fw-bold text-success text-decoration-none" href="#" role="button">View More ></a>
    </div>
  </div>
</section>




